.form {
  height: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  right: 0;
  width: 95%;
  box-shadow: 0 0 10px grey;
  overflow: hidden;
}
.submit {
  background: rgb(0, 223, 11);
  height: 50px;
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 10px;
  margin-left: calc(50% - 100px);
  margin-top: 10px;
  margin-bottom: 10px;
}
button:disabled {
  background: grey;
}
